target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
## *.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/overcomplicated-tictactoe/overcomplicated-tictactoe.iml
/funfact-service/funfact-service.iml
/comics-service/comics-service.iml
/avatar-service/avatar-service.iml
/ticatactoe-ai-service/ticatactoe-ai-service.iml
/wish-it-order-service.iml
